NGC_API_KEY="bmJtYzQ5OTkzZmNyZDYwZmY4bDMxczk0ZGc6MThiYTZjNDNmMy00M2I3LThkYzUtZGRjNDdkZjFmYzhh"\nNGC_PERSONAL_API="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"\nHOSTED_API_KEY="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"
